* {
    -fx-font-family: Tahoma, sans-serif;
}

.table-view:focused {
    -fx-faint-focus-color: none;
    -fx-background-insets: -1, 10, 1, 1;
}

.table-row-cell:selected{
    -fx-text-fill: white;
    -fx-background-color: #003EB7;
}

#table:focused {
    -fx-faint-focus-color: none;
    -fx-background-insets: -1, 10, 1, 1;
}