* {
    -fx-font: 12 Tahoma, sans-serif;
}

.button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2871FF;
    -fx-border-color: #2871FF;
    -fx-border-width: 2;
    -fx-cursor: HAND;
}

.button:hover {
    -fx-background-color: #2060D0;
}

.button > .text {
    -fx-fill: white;
}

.text {
    -fx-fill: #2871FF;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: black;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}

#table:focused {
    -fx-faint-focus-color: none;
}

#bookPlaneBtnsColumn{
    -fx-alignment: CENTER;
}