.button {
    -fx-background-color: transparent;
    -fx-border-color: #003EB7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: white;
}

.button:focused, .button:hover {
    -fx-background-color: #003EB7;
}

.field {
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #003EB7;
    -fx-border-width: 2;
    -fx-font: 14 Tahoma;
    -fx-text-fill: white;
    -fx-padding: 5 0;
    -fx-hgap: 0;
}