* {
    -fx-font-family: Tahoma, sans-serif;
}

.button {
    -fx-background-color: #2871FF;
    -fx-border-color: #003EB7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.button:hover {
    -fx-background-color: #003EB7;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #003EB7;
    -fx-border-width: 2;
    -fx-font: 14 Tahoma;
    -fx-padding: 0 0 -3 0;
    -fx-text-fill: black;
    -fx-hgap: 0;
}

.combo-box > .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-style: hidden;
}

.button > .text-field {
    -fx-text-fill: black;
}

.arrow-button {
    -fx-background-color: transparent;
    -fx-border-style: hidden;
}